.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start,#status{
    font-size: 22px;
}
.big_image{
    width: 100%;
}
.modal-dialog
{
    width: 90%;
}
.Instruction_image
{
   display: inline-block;
   width: 40%; 
}
h4{
   background-color: aliceblue;
   line-height: 2;
   margin: 0px; 
}
video{
 background: url("game_console.png");
 background-size: cover;
 background-position: center;
 padding: 25px;   
}